/* Feuille de style */
@keyframes Lerp {
    0% {background-color: red}
    14% {background-color: orange}
    28% {background-color: yellow}
    42% {background-color: green}
    56% {background-color: blue}
    70% {background-color: indigo}
    84% {background-color: violet;}
    100% {background-color: red}
};
body {
    margin: 0 0 0 0;
    animation: Lerp;
    animation-duration: 5s;
    animation-iteration-count: infinite;
};